doctype html
html(style="height: 100%")

  head
    title Deploy Sage (express dev)

  body(style="height: 100%; display: flex")
    #container(style="width: 100%; display: flex")

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")
    script.
      ReactOnRails.render("DeploySageApp", !{props}, 'container')
