doctype html
html

  head
    title Deploy Sage (express dev)

  body
    #container

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")
    script.
      ReactDOM.render(React.createElement(
              DeploySageApp,
              !{props}),
              document.getElementById('container')
      )
