# From https://github.com/github/gitignore/blob/master/Rails.gitignore :
*.rbc
capybara-*.html
.rspec

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Custom:

# Rubymine
.idea

# fixture_builder
spec/fixtures/*.yml

# dotenv
.env.local

# React on Rails
npm-debug.log*
node_modules
client/*.log.*

# Generated js bundles
/app/assets/webpack/

# React on Rails
npm-debug.log
node_modules

# Generated js bundles
/app/assets/javascripts/generated/*
/public/assets/**/*
