.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.headerRow {
  background: $grey-medium;
  border: $page-component-border; // <--- Loaded via sass-resources-loader
  height: 30px;
  padding: 3px;
  vertical-align: middle;
}

.contextRow {
  border: $page-component-border;
  flex-grow: 1;
  padding: 5px;
}

.columnsRow {
  border: $page-component-border;
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  justify-content: space-between;
}

%column {
  border-color: $brown;
  border-top: 1px solid;
  padding: 5px;
  width: 100%;
}

.column {
  @extend %column;
}

.middleColumn {
  @extend %column;
  border-left: 1px solid;
  border-right: 1px solid;
}
